<h1>Login</h1>

<div>
	<% if flash[:status] == FALSE %>
		<p><%= flash[:alert]%></p>
	<%end%>				
</div>

<%= form_for(:session, :url => sessions_path) do |f| %>
	<div id='number1'>
	<div id='para1'>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div id='para1'>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div>
		<%= f.submit "Login" %>
	</div>
	</div>
<% end %>

<%= button_to 'Register', register_path %>