
<p id='para3'><%= $user_name %>'s Page</p>
<%= image_tag @user.image_url(:thumb) %>


<p id='para3'><%= link_to "Turn To Tech", "http://turntotech.io/" %> </p> <br>

<div id='para2'>
<%= image_tag "abc.jpg", :width => 500, :height => 300 %><br>
</div>

<p id='para3'><%= link_to "Log Out", logout_path %></p>
